<html>
   <body>
    <form action = "http://127.0.0.1:5000/hash" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <form action = "http://127.0.0.1:5000/Subs" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <form action = "http://127.0.0.1:5000/RevSubs" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <form action = "http://127.0.0.1:5000/railfence" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "text" name = "key" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>  
    <form action = "http://127.0.0.1:5000/railfencedecry" method = "post">
         <p>Enter Text:</p>
         <p><input type = "text" name = "text" /></p>
         <p><input type = "text" name = "key" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <form action = "http://127.0.0.1:5000/caesar" method = "post">
        <p>Enter Text Caesar:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "text" name = "key" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <form action = "http://127.0.0.1:5000/caesardecry" method = "post">
        <p>Enter Text Caesar decry:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "text" name = "key" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
   </body>
</html>