<html>
   <style>
      .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          width: 290px ;
        }
        
        .dropbtn:hover, .dropbtn:focus {
          background-color: #2980B9;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown a:hover {background-color: #ddd;}
        
        .show {display: block;}
      </style>
   <body>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(1)" class="dropbtn">Hashes</button>
             <div id="myDropdown1" class="dropdown-content">
               <h1>Hashes</h1>
               <form action = "http://127.0.0.1:5000/hash" method = "post">
                <p>Enter Text:</p>
                <p><input type = "text" name = "text" /></p>
                <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(2)" class="dropbtn">Substitution</button>
             <div id="myDropdown2" class="dropdown-content">
               <h1>Substitution</h1>
               <form action = "http://127.0.0.1:5000/Subs" method = "post">
               <p>Enter Text:</p>
               <p><input type = "text" name = "text" /></p>
               <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(3)" class="dropbtn">Reverse Substitution</button>
             <div id="myDropdown3" class="dropdown-content">
               <h1>Reverse Substitution</h1>
               <form action = "http://127.0.0.1:5000/RevSubs" method = "post">
               <p>Enter Text:</p>
               <p><input type = "text" name = "text" /></p>
               <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(4)" class="dropbtn">RailFence</button>
             <div id="myDropdown4" class="dropdown-content">
               <h1>Railfence Cipher</h1>
               <form action = "http://127.0.0.1:5000/railfence" method = "post">
                  <p>Enter Text:</p>
                  <p><input type = "text" name = "text" /></p>
                  <p><input type = "text" name = "key" /></p>
                  <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(5)" class="dropbtn">RailFence Decrypt</button>
             <div id="myDropdown5" class="dropdown-content">
               <h1>Rail Fence Decryption</h1>
               <form action = "http://127.0.0.1:5000/railfencedecry" method = "post">
                     <p>Enter Text:</p>
                     <p><input type = "text" name = "text" /></p>
                     <p><input type = "text" name = "key" /></p>
                     <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(6)" class="dropbtn">Caesar</button>
             <div id="myDropdown6" class="dropdown-content">
               <h1>Caesar Cipher(ROT)</h1>
               <form action = "http://127.0.0.1:5000/caesar" method = "post">
               <p>Enter Text Caesar:</p>
               <p><input type = "text" name = "text" /></p>
               <p><input type = "text" name = "key" /></p>
               <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(7)" class="dropbtn">Caesar Decrypt</button>
             <div id="myDropdown7" class="dropdown-content">
               <h1>Caesar Cipher(ROT) Decrypt</h1>
               <form action = "http://127.0.0.1:5000/caesardecry" method = "post">
                  <p>Enter Text Caesar decry:</p>
                  <p><input type = "text" name = "text" /></p>
                  <p><input type = "text" name = "key" /></p>
                  <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(8)" class="dropbtn">Reverse String</button>
             <div id="myDropdown8" class="dropdown-content">
               <h1>Reverse String</h1>
               <form action = "http://127.0.0.1:5000/rev" method = "post">
                  <p>Enter Text Caesar decry:</p>
                  <p><input type = "text" name = "text" /></p>
                  <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center;">
         <div class="dropdown">
             <button onclick="myFunction(9)" class="dropbtn">Box</button>
             <div id="myDropdown9" class="dropdown-content">
               <h1>Box Cipher</h1>
               <form action = "http://127.0.0.1:5000/box" method = "post">
               <p>Enter Text Caesar decry:</p>
               <p><input type = "text" name = "text" /></p>
               <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>
      <div style="text-align:center">
         <div class="dropdown">
             <button onclick="myFunction(11)" class="dropbtn">Box Decrypt</button>
             <div id="myDropdown11" class="dropdown-content">
               <h1>Box Cipher Decrypt</h1>
               <form action = "http://127.0.0.1:5000/boxdecry" method = "post">
                  <p>Enter Text Caesar decry:</p>
                  <p><input type = "text" name = "text" /></p>
                  <p><input type = "submit" value = "submit" /></p>
               </form>
             </div>
         </div>
      </div>

      <script>
         function myFunction(p1) {
          document.getElementById("myDropdown"+p1).classList.toggle("show");
        }
      </script>
   </body>
</html>