<html>
   <body>
    <h1>Hashes</h1>
    <form action = "http://127.0.0.1:5000/hash" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <br><br><br><hr>
     <h1>Substitution</h1>
     <form action = "http://127.0.0.1:5000/Subs" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <br><br><br><hr>
     <h1>Reverse Substitution</h1>
     <form action = "http://127.0.0.1:5000/RevSubs" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <br><br><br><hr>
     <h1>Railfence Cipher</h1>
     <form action = "http://127.0.0.1:5000/railfence" method = "post">
        <p>Enter Text:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "text" name = "key" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>  
     <br><br><br><hr>
     <h1>Rail Fence Decryption</h1>
    <form action = "http://127.0.0.1:5000/railfencedecry" method = "post">
         <p>Enter Text:</p>
         <p><input type = "text" name = "text" /></p>
         <p><input type = "text" name = "key" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <br><br><br><hr>
      <h1>Caesar Cipher(ROT)</h1>
      <form action = "http://127.0.0.1:5000/caesar" method = "post">
        <p>Enter Text Caesar:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "text" name = "key" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <br><br><br><hr>
     <h1>Caesar Cipher(ROT) Decrypt</h1>
     <form action = "http://127.0.0.1:5000/caesardecry" method = "post">
        <p>Enter Text Caesar decry:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "text" name = "key" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <br><br><br><hr>
     <h1>Reverse String</h1>
     <form action = "http://127.0.0.1:5000/rev" method = "post">
        <p>Enter Text Caesar decry:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
     <br><br><br><hr>
     <h1>Box Cipher</h1>
     <form action = "http://127.0.0.1:5000/box" method = "post">
      <p>Enter Text Caesar decry:</p>
      <p><input type = "text" name = "text" /></p>
      <p><input type = "submit" value = "submit" /></p>
      </form>
      <br><br><br><hr>
     <h1>Box Cipher Decrypt</h1>
     <form action = "http://127.0.0.1:5000/boxdecry" method = "post">
        <p>Enter Text Caesar decry:</p>
        <p><input type = "text" name = "text" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
   </body>
</html>